{% extends 'index.html' %}
{% block header %}
  <div class="m-4 text-center">
    <a href="{{ url_for('login')}}" title="logout">Logout</a>
  </div>
{% endblock %}
{% block content %}

<div>
    <h1> All of our courses</h1>
    <div class="m-4">
        <table class="table">
            <thead >
              <tr class="table-primary">
                <th>ID</th>
                <th>cours</th>
                <th>Name</th>
                <th>Day</th>
              </tr>
            </thead>
            <tbody>
              {% for cours in courses %}
                <tr>
                  <td>{{cours['Id']}}</td>
                  <td>{{cours['Name']}}</td>
                  <td>{{cours['Day']}}</td>
                </tr>
                {% endfor%}

            </tbody>
          </table>
      </div>
</div>
{% endblock %}