<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Font-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/yoga.css">
    <title>RojaYoga</title>
  </head>
  <body>
    <section>
        <h1>Lest's Register</h1>

        <form method="POST">
            <p>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" autofocus required/>
            </p>
            <p>
                <label for="lastname">Last-Name :</label>
                <input type="text" name="lastname" id="lastname" required/>
            </p>
            <p>
                <label for="firstname">First-Name :</label>
                <input type="text" name="firstname" id="firstname" required/>
            </p>
            <p>
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" required/>
            </p>
            <p>
                <label for="password">Password :</label>
                <input type="password" name="password" id="password" required/>
            </p>
            <input type="submit" value="Confirm"/>
            <input type="reset" value="Reset"/>
        </form>
    </section>

</body>
</html>