<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
      "
    >
      <h1>Wellcome To our Yoga page</h1>
      <a class="btn btn-dark mt-2" href="{{ url_for('home')}}"
        >Go to Home page</a
      >
      <a class="btn btn-dark mt-2" href="{{ url_for('login')}}"> Login</a>
      <a class="btn btn-dark mt-2" href="{{ url_for('register')}}"> Register</a>
      <a class="btn btn-dark mt-2" href="{{ url_for('courses')}}"> Courses</a>
    </div>
    {% block content %}{% endblock %}
  </body>
</html>
